body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212; /* Dark background */
    color: white;
}

h1 {
    font-size: 3.5rem;
    color: rgb(92, 29, 89);
    text-shadow: 5px 5px 8px rgba(95, 32, 32, 0.7);
    border: 5px solid rgba(255, 255, 255, 0.5); 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 15px; 
    text-align: center; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: none;
}

.choices button:active {
    transform: scale(0.95);
}

#Rock {
    background-color: maroon;
}

#Paper {
    background-color: lightcoral;
}

#Scissor {
    background-color: maroon;
}

#Rock:hover, #Paper:hover, #Scissor:hover {
    background-color: black;
}

#playerDisplay, #computerDisplay {
    font-size: 2rem;
    font-style: italic;
    margin: 10px 0;
    color: lightblue;

}

#resultDisplay {
    font-size: 3rem;
    margin: 30px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.scoreDisplay {
    font-size: 2rem;
    color: aquamarine;
    border: 5px solid rgba(255, 255, 255, 0.5); 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 15px; 
    text-align: center; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
}

.greenText, #playerScoreDisplay {
    color: hsl(130, 76%, 35%);
}

.redText, #computerScoreDisplay {
    color: hsl(0, 65%, 38%);
}

#playerScoreDisplay, #computerScoreDisplay {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
